body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  color: #222;
}

p {
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
}

#hero-title {
  font-size: 3.0em;
  color: #333;
  font-weight: bold;
  text-align: left;
}

#article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.article-info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-info-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}

#date,
#byline,
#category {
  margin: 0;
  font-family: 'Roboto', serif;
}

#category {
  text-align: right;
}

#category-link {
  text-decoration: none;
  color: #007bff;
  /* Link color */
}

#category-link:hover {
  text-decoration: underline;
}

#hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

#intro-section-1,
#intro-section-2 {
  text-align: left;
}

#city-selection {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.input-container {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

#city-input {
  width: 97%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-left: -2px;
  padding-right: 0px;
}

#city-input:focus {
  border-color: #007BFF;
  outline: none;
}

#city-list {
  list-style-type: none;
  padding: 0px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 98%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  margin-top: -1px;
  margin-left: 4px;
}

#city-list li {
  padding: 12px;
  background: #f4f4f4;
  margin: 0px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

#city-list li:last-child {
  border-bottom: none;
}

#city-list li:hover {
  background-color: #e2e2e2;
}

#city-info {
  margin-top: 30px;
  width: 100%;
  background: #fff;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  min-height: 200px;
  text-align: center;
  display: none;
  /* Hide by default */
}


#city-info h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

#city-info p {
  margin: 10px 0;
}

#city-aqi {
  font-size: 1.1em;
  margin-bottom: 10px;
}

#city-cigarettes {
  font-size: 1em;
}

#city-cigarettes span {
  display: block;
  margin-bottom: 10px;
}

#cigarette-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cigarette-icon {
  width: 24px;
  height: auto;
  margin: 4px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  #intro-section-1,
  #intro-section-2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #hero-title {
    font-size: 2.0em;
    text-align: center;
  }
}
