body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  color: #222;
}

p {
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}

.container {
  width: 80%;
  max-width: 1200px;
  /* Set a max-width to ensure consistency */
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
}

#hero-title {
  font-size: 2em;
  color: #333;
}

#hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  /* Center align the image */
}

#intro-text {
  text-align: left;
  /* Default to left alignment */
  margin-bottom: 20px;
}

#city-selection {
  margin-top: 20px;
}

#city-input {
  width: 100%;
  /* Make the input field full width within the container */
  padding: 12px;
  padding-right: 0;
  margin-bottom: 10px;
  margin-left: -2px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

#city-input:focus {
  border-color: #007BFF;
  outline: none;
}

#city-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;

}

#city-list li {
  padding: 12px;
  background: #f4f4f4;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

#city-list li:last-child {
  border-bottom: none;
}

#city-list li:hover {
  background-color: #e2e2e2;
}

#city-info {
  margin-top: 20px;
  width: 100%;
  /* Ensure info block is full width within container */
  background: #fff;
  padding: 20px;
  padding-left: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#selected-city {
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    /* Ensure container width fits mobile screens */
  }

  #intro-text {
    text-align: center;
    /* Center alignment on tablets and mobile devices */
  }
}

@media (max-width: 768px) {
  #hero-title {
    font-size: 1.5em;
    /* Adjust title size for smaller screens */
  }
}